/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

pre, .email-body {
    margin: 10px 15px;
    font-size: 0.8em;
}

body {
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

.sticky-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}